.menu{
    display:flex;
    justify-content: right;
    list-style:none;
}
h3{
    color:rgb(190, 136, 66);
    display:flex;
    justify-content: center;
    font-family: arial;
    margin:0.3em;
}
p{
    display: flex;
    justify-content: center;
    font-family: arial;
    margin:0.1em;
    color:#646d6c;

}
.cont{
    display: flex;
    justify-content:center;

}
.logo{
    display: flex;
    margin:20px;
    padding:1px;
}
a{
    text-decoration:none;
    color:#198754;
    font-family: arial;
}
li{
    padding:10px;
    
}
h1{
    background-image: url("../img/ciudad.jpg");
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo1{
    color:white;
    font-family: tahoma;
    font-size:2em;
    font-weight: lighter;
}
.titulo2{
    color:white;
    font-family: tahoma;
    font-size: 2em;
    font-weight: lighter;
}
.titulo3{
    color:white;
    font-family: tahoma;
    font-size:2em;
    font-weight: bolder;
}
.titulo4{
    color:white;
    font-family:tahoma;
    font-size:2em;
    font-weight: bolder;
}
.titulo5{
    color:white;
    font-family:tahoma;
    font-size:2em;
    font-weight: lighter;
}
.prog{
    width:65%;
    height:100%;
    justify-content: flex-start;
    padding:2em 6em 2em;
    box-sizing:border-box;
    display:flex;
}
.letras{
   
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    padding:30px;
}
nav{
    border-top:2px solid #646d6c;
    
}
.vector{
    color:white;
    font-size: 3em;
}